.crystal-image{
    width: 100px;
    height: 100px;
    text-align: center;
};
p{
    margin:0, auto;
}

body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url("../images/cave-wallpaper.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
input{
    font: bolder;
}    

